<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello</h1>
<form th:action="@{/create}" method="post" th:object="${student}">
    <div>
        Name <input type="text" th:field="*{name}">
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
            Error</span>
    </div>
    <div>
        Email <input type="text" th:field="*{email}">
        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name
            Error</span>
    </div>
    <div>
        Mật khẩu <input type="password" th:field="*{password}">
        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name
            Error</span>
    </div>
    <div>
        Mã SV <input type="masv" th:field="*{masv}">
        <span class="error" th:if="${#fields.hasErrors('masv')}" th:errors="*{masv}">Name
            Error</span>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>